.cart-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 180px;
}

.cart-card {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card-body-cart {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 275px;
    height: 470px;
    margin: 20px;
    gap: 5px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.card-body-cart:hover {
    border: 1px solid gray;
}

.restar {
    margin: auto;
    margin-top: 10px;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid gray;
    background-color: white;
    color: black;
    cursor: pointer;
}

.restar:hover {
    color: white;
    background-color: gray;
}

.eliminar {
    margin: auto;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid gray;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    cursor: pointer;
}

.eliminar:hover {
    color: white;
    background-color: gray;
}

.img-cart {
    padding-bottom: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* FORMULARIO */

.cart-form {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: auto;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 70px;
}

.precio-total {
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    background-color: gainsboro;
}

.cliente {
    width: 90px;
    padding: 10px;
    border-radius: 20px;
    background-color: gainsboro;
}

.cart-form-nombre {
    border: 1px solid gray;
    border-radius: 20px;
    margin-block: 20px;
    margin-right: 20px;
    padding: 10px;
    width: 200px;
}

.cart-form-email {
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 250px;
}

.cart-form-phone {
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 10px;
    width: 250px;
}

.form-compra {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-form-comprar {
    border-radius: 20px;
    background-color: gray;
    color: white;
    height: 40px;
    width: 150px;
    border: solid grey;
    cursor: pointer;
    margin: auto;
}

.cart-form-comprar:hover {
    background-color: white;
    color: black;
}

.cart-form-vaciar {
    border-radius: 20px;
    background-color: gray;
    color: white;
    height: 40px;
    width: 150px;
    border: solid grey;
    cursor: pointer;
    margin: auto;
}

.cart-form-vaciar:hover {
    color: black;
    background-color: white;
}



/* NO HAY PRODUCTOS */



.product-cart {
    display: flex;
    justify-content: center;
    height: 550px;
}

.gracias {
    display: flex;
    justify-content: center;
    height: 550px;
}



@media (min-width: 1024px) {

    .cart-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .cart-card {
        display: flex;
        max-height: 500px;
        width: 400px;
        overflow: auto;
    }

    .cart-form {
        margin: 0;

    }

    .restar {
        margin-bottom: 8px;
    }

}

@media (min-width: 1400px) {


    .cart-container{
        justify-content: center;
        gap: 150px;
    }


    .cart-card {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        max-height: 560px;
        width: 660px;
        overflow: auto;
    }

    .cart-form {
        width: 400px;
        margin: 0;
    }
}