.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 120px;
}

.card-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 275px;
    height: 440px;
    margin: 20px;
    gap: 5px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.card-body:hover{
    border: 2px solid gray;
}

.card-submit{
    width: 150px;
    border: 2px solid gray;
    padding: 10px;
    margin: auto;
    margin-block: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.card-submit:hover{
    color: white;
    background-color: gray;
}


.img-item{
    padding-bottom: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: auto;
}