.card-body-detail{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.img-detail{
    padding-bottom: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-body-detail:hover{
    border: 2px solid gray;
}

.numero{
    font-size: 1.2em;
}


.mas{
    color: black;
    background-color: white;
    width: 50px;
    height: 30px;
    margin-right: 4px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid gray;
}

.contador{
    margin-top: 20px;
}

.menos{
    width: 50px;
    height: 30px;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 20px;
    color: black;
    background-color: white;
    margin-left: 4px;
}

.agregar{
    background-color: white;
    border-radius: 20px;
    margin-top: 15px;
    width: 75px;
    color: black;
    border: 2px solid gray;
    cursor: pointer;
    height: 35px;
}

.agregar:hover{
    color: white;
    background-color: gray;
}

.menos:hover{
    color: white;
    background-color: gray;
}

.mas:hover{
    color: white;
    background-color: gray;
}

.card-submit-detail{
    margin-top: 10px; 
}

.terminar{
    width: 170px;
    height: 40px;
    font-size: 15px;
    color: black;
    border: 2px solid gray;
    border-radius: 20px;
    background-color: white;
    margin-block: 20px;
}

.terminar:hover{
    color: white;
    background-color: gray;
}

.comprando{
    width: 170px;
    height: 40px;
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 20px;
    color: black;
    background-color: white;
}

.comprando:hover{
    color: white;
    background-color: gray;
}

