* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}


.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: gainsboro;
}


.logo {
    display: flex;
    align-items: center;
    gap: 1em;
}


.titulo{
    font-size: 2em;
}

.count{
    display: flex;
    justify-content: center;
}