* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}


.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: gainsboro;
    margin-bottom: 100px;
}


.logo {
    display: flex;
    align-items: center;
    gap: 1em;
}


.titulo{
    font-size: 2em;
}

.count{
    display: flex;
    justify-content: center;
}

/* Ancho de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Cambia el ancho según sea necesario */
}

/* Track (pista) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cambia el color de fondo según tu diseño */
}

/* Thumb (scrollbar) */
::-webkit-scrollbar-thumb {
    background: #888; /* Cambia el color de la barra de desplazamiento */
    border-radius: 6px; /* Añade bordes redondeados */
}

/* Cambiar el color de la barra de desplazamiento cuando se desplaza */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cambia el color al pasar el cursor sobre la barra de desplazamiento */
}

/* Flechas (botones de desplazamiento) */
::-webkit-scrollbar-button {
    display: none; /* Oculta las flechas de desplazamiento */
}